<mat-toolbar color="accent" class="navbar">
  <div>
    <button mat-icon-button class="example-icon" >
      <mat-icon>menu</mat-icon>
    </button>
    VirtualMall
  </div>
  <div>
    <span>
      
      <button  mat-icon-button class="example-icon" routerLink='/reportes'>
      <mat-icon>account_circle</mat-icon>
      </button>
    </span>
    <span>
      
      <button  mat-icon-button class="example-icon" routerLink='/home'>
      <mat-icon>home</mat-icon>
      </button>
    </span>
    <span>
      <button mat-icon-button class="example-icon" routerLink='/carrito' >
        
      <mat-icon> local_grocery_store</mat-icon>
      </button>
    </span>
    <span>
      <button mat-icon-button class="example-icon" routerLink='/registrar'>
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </span>
  </div>
</mat-toolbar> 
<div class="container">
  <!-- Page Heading -->
  <div class="row">
      <br>
    <div class="col-12">
        <br>
      <h1 class="page-header">{{producotDetalle.Nombre}}</h1>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-lg-6 mb-4">
      
      <!-- There's only One image -->
      <div class="">
        <div class="main-product-image">
          <img src="{{producotDetalle.Imagen}}" alt="iMac Desktop Computer" class="img-fluid">
          
        </div>
      </div>
      
    </div>

    <div class="col-lg-6">
      <form class="form-horizontal" action="/cart/add/224302" method="post" enctype="multipart/form-data" name="buy">
        <div class="form-group price_elem row">
            <label class="col-sm-3 col-md-3 form-control-label nopaddingtop">Codigo:</label>
            <div class="col-sm-8 col-md-9">
              <span class="product-form-price" id="product-form-price">{{producotDetalle.Codigo}}</span>
              

            </div>
          </div>
          <!-- Precio del producto  -->
          <div class="form-group price_elem row">
            <label class="col-sm-3 col-md-3 form-control-label nopaddingtop">Precio:</label>
            <div class="col-sm-8 col-md-9">
              <span class="product-form-price" id="product-form-price">Q. {{producotDetalle.Precio}}</span>
              

            </div>
          </div>
          <br>
          <div class="form-group row">
            <label for="Quantity" class="col-sm-3 col-md-3 form-control-label">Cantidad:</label>
            <div class="col-sm-8 col-md-9">
              <input type="number" matInput class="qty form-control" id="input-qty" name="qty" min="1" max="{{producotDetalle.Cantidad}}" value="1" [(ngModel)]="cantidadElegida">
              <br>
            </div>
            <br>
            <div class="alert alert-danger" role="alert" *ngIf="status">
              Error debe eleguir una cantidad maxima a {{producotDetalle.Cantidad}} 
            </div>
          </div>

          <br>

          <div class="form-group product-stock product-available row visible">
            <label class="col-sm-3 col-md-3 form-control-label"></label>
            <div class="col-sm-8 col-sm-offset-3 col-md-9 col-md-offset-3">

              
              
              <button href="javascript:history.back()"  mat-raised-button color="accent" (click)="AgregaraCarrito(producotDetalle)">Agregar Al Carrito</button>


              <a href="javascript:history.back()" class="btn btn-link btn-sm" title="Continue Shopping"  mat-stroked-button color="primary">← Continuar Comprando</a>
            </div>
          </div>

          <br>

          <div class="form-group row">
            <label class="col-sm-3 col-md-3 form-control-label">Description:</label>
            <div class="col-sm-8 col-md-9 description">
              <p>{{producotDetalle.Descripcion}}</p>
            </div>
          </div>




      <input type="hidden"></form>
      <script type="text/javascript">
        $('#product-sharing a').click(function(){
          return !window.open(this.href, 'Share', 'width=640,height=300');
        });
      </script>


    </div>
  </div>

  

</div>