<mat-toolbar color="accent" class="navbar">
  <div>
    <button mat-icon-button class="example-icon" >
      <mat-icon>menu</mat-icon>
    </button>
    VirtualMall
  </div>
  <div>
    <span>
      
      <button  mat-icon-button class="example-icon" routerLink='/reportes'>
      <mat-icon>account_circle</mat-icon>
      </button>
    </span>
    <span>
      
      <button  mat-icon-button class="example-icon" routerLink='/home'>
      <mat-icon>home</mat-icon>
      </button>
    </span>
    <span>
      <button mat-icon-button class="example-icon" routerLink='/carrito' >
        
      <mat-icon> local_grocery_store</mat-icon>
      </button>
    </span>
    <span>
      <button mat-icon-button class="example-icon" routerLink='/registrar'>
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </span>
  </div>
</mat-toolbar> 
<br>
  <div class="container">
  

  
    <!-- Products Section -->
    <div class="row">
      <div class="col-12">
        <h2 class="page-header">Productos</h2>
      </div>
  
      
      <!-- Featured Products -->
      
      <div class="col-md-3 col-6 product-block"  *ngFor="let producto of productR">
        
  <a (click)="detalleProducto(producto)" routerLink='/productoDetalles'><img class="img-fluid img-portfolio img-hover mb-3" src="{{ producto.Imagen }}" alt="img"></a>
  
  <div class="caption">
    <h3><a mat-stroked-button color="primary" (click)="detalleProducto(producto)" routerLink='/productoDetalles'>{{ producto.Nombre }}</a></h3>
    <div class="price-mob">
      Q. {{ producto.Precio }}
    </div>
    <div class="clearfix"></div>
    <p class="product-block-description d-none d-md-block">
      {{ producto.Descripcion }}
    </p>
  </div>
  <mat-card-actions>
    <button  mat-stroked-button color="accent" (click)="detalleProducto(producto)" routerLink='/productoDetalles'>Comprar</button>
    <br>
  </mat-card-actions>  
      </div>
    </div>

  </div> 