<mat-toolbar color="accent" class="navbar">
    <div>
      <button mat-icon-button class="example-icon" >
        <mat-icon>menu</mat-icon>
      </button>
      VirtualMall
    </div>
    <div>
      <span>
        
        <button  mat-icon-button class="example-icon" routerLink='/reportes'>
        <mat-icon>account_circle</mat-icon>
        </button>
      </span>
      <span>
        
        <button  mat-icon-button class="example-icon" routerLink='/home'>
        <mat-icon>home</mat-icon>
        </button>
      </span>
      <span>
        <button mat-icon-button class="example-icon" routerLink='/carrito' >
          
        <mat-icon> local_grocery_store</mat-icon>
        </button>
      </span>
      <span>
        <button mat-icon-button class="example-icon" routerLink='/registrar'>
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </span>
    </div>
  </mat-toolbar> 

  <br>
<h1>Reportes</h1>


<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalArbol" (click)="getArbolS()">
    Arbol Usuario Sin cifrado
  </button>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalArbol" (click)="getArbolC()">
    Agregar Usuario Cifrado
  </button>
  
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalArbol" (click)="getArbolCS()">
    Agregar Usuario Cifrado sensible
  </button>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalArbol" (click)="getGrafo()">
   Camino mas corto
  </button>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalArbol" (click)="getMerkeTienda()">
    Merkle Tienda
  </button>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalArbol" (click)="getMerkeProductos()">
    Merkle Productos
  </button>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalArbol" (click)="getMerkePedidos()">
    Merkle Pedidos
  </button>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalArbol" (click)="getMerkeUsuarios()">
    Merkle Usuarios
  </button>
</div>

<div class="modal fade" id="modalArbol" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel" style="color: crimson;">Arbol de Productos</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <img [src]="imageSource" alt="Image Source" class="center">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         
        </div>
      </div>
    </div>
  </div>

  <script>
    var myModal = document.getElementById('modalArbol')
    var myInput = document.getElementById('myInput')
  
    myModal.addEventListener('shown.bs.modal', function () {
      myInput.focus()
    })
  
    var myModal = document.getElementById('modalUsuario')
    var myInput = document.getElementById('myInput')
  
    myModal.addEventListener('shown.bs.modal', function () {
      myInput.focus()
    })
    </script>