<mat-toolbar color="accent" class="navbar">
  <div>
    <button mat-icon-button class="example-icon" >
      <mat-icon>menu</mat-icon>
    </button>
    <span *ngIf="validarUsuario()">
      <input type="text" matInput placeholder="llave" [(ngModel)]="llave.llave" >
      <button  mat-icon-button class="example-icon" (click)="llavenviar()">
        Enviar
      </button>  
    </span>
  </div>
  <div>

    <span *ngIf="validarUsuario()">
      <button  mat-icon-button class="example-icon" routerLink='/reportes'>
      <mat-icon>account_circle</mat-icon>
      </button>
    </span>

    <span>
      
      <button  mat-icon-button class="example-icon" routerLink='/home'>
      <mat-icon>home</mat-icon>
      
      </button>
    </span>
    <span>
      <button mat-icon-button class="example-icon" routerLink='/carrito' >
        
      <mat-icon> local_grocery_store</mat-icon>
      </button>
    </span>
    <span>
      <button mat-icon-button class="example-icon" routerLink='/registrar'>
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </span>
  </div>
</mat-toolbar> 
<br>
<h1>Tiendas</h1>


<div class="btn-group" role="group" aria-label="Basic example" *ngIf="validarUsuario()">
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ModalGrafo">
    Agregar Grafo
  </button>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Agregar Tiendas
  </button>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal2">
    Agregar Inventario
  </button>
  
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalPedidos">
    Agregar Pedidos
  </button>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalUsuario">
    Agregar Usuarios
  </button>
  
</div>

<!-- Modal Insertar Grafo-->
<div class="modal fade" id="ModalGrafo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel" style="color: crimson;">Agregar Grafo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div class="mb-3">
          <input class="form-control" type="file" id="formFile" name = "currentInput" accept=".json" [(ngModel)]="currentInput" (change)="onFileSelectedGrafo($event)">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal">Agregar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Insertar Tiendas-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel" style="color: crimson;">Agregar Tiendas</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div class="mb-3">
          <input class="form-control" type="file" id="formFile" name = "currentInput" accept=".json" [(ngModel)]="currentInput" (change)="onFileSelected($event)">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="getStore()" data-bs-dismiss="modal">Agregar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Insertar Usuarios-->
<div class="modal fade" id="modalUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel" style="color: crimson;">Agregar Usuarios</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div class="mb-3">
          <input class="form-control" type="file" id="formFile" name = "currentInput" accept=".json" [(ngModel)]="currentInput" (change)="onFileSelectedUsuarios($event)">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="getStore()" data-bs-dismiss="modal">Agregar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Insertar Inventario -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel" style="color: crimson;">Agregar Inventario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div class="mb-3">
          <input class="form-control" type="file" id="formFile" name = "currentInput" accept=".json" [(ngModel)]="currentInput" (change)="onFileSelectedInventario($event)">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="getStore()" data-bs-dismiss="modal">Agregar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Insertar Pedidos -->
<div class="modal fade" id="modalPedidos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel" style="color: crimson;">Agregar Pedidos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div class="mb-3">
          <input class="form-control" type="file" id="formFile" name = "currentInput" accept=".json" (change)="onFileSelectedPedido($event)">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="getStore()" data-bs-dismiss="modal">Agregar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal visualizar Arbol  -->
<div class="modal fade" id="modalArbol" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel" style="color: crimson;">Arbol de Productos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <img [src]="imageSource" alt="Image Source" class="center">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
       
      </div>
    </div>
  </div>
</div>

<!-- Modal visualizar Pedidos  -->
<div class="modal fade" id="modalMatriz" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel" style="color: crimson;">Matriz de Pedidos Fecha: {{Fecha}} </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <img [src]="imageSource1" alt="Image Source" class="center">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
       
      </div>
    </div>
  </div>
</div>


<!-- Modal Insertar Inventario -->
<div class="modal fade" id="comentarios" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel" style="color: crimson;">Comentarios</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div class="container bootstrap snippets bootdey">
          <div class="row" >
          <div class="col-md-12">
              <div class="blog-comment">
              <ul class="comments" *ngFor="let registro of registros">
              <li class="clearfix" >
                <div>
                <div style="width: 20px;" *ngFor="let espaciado of createRange(registro.IdentLevel)">
                {{espaciado}}
                </div>
                <div>
                <img src="https://bootdey.com/img/Content/user_1.jpg" class="avatar" alt="" >
                <div class="post-comments">
                    <p class="meta"> {{registro.Usuario.Nombre}}
                      <button mat-button color="accent"  data-bs-toggle="modal" data-bs-target="#modalREsComn" (click)="guardarId(registro.TablaHash.Id)" >Responder</button></p>
                    <p>
                        {{registro.Comentario}}
                    </p>
                </div>
              </div>
              </div>
              </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgregarComent ">Agregar</button>
      </div>
    </div>
  </div>
</div>

<mat-grid-list cols="3" rowHeight="0.6:1">
    <mat-grid-tile *ngFor="let Tienda of Tiendas">  
      
        <mat-card class="example-card">
          <mat-card-header class="container">
            <mat-card-title>{{ Tienda.Nombre }}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{ Tienda.Logo }}" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <mat-card-subtitle> 
                Descripcion: 
            </mat-card-subtitle> 
            <p>
              {{ Tienda.Descripcion }}
            </p>
            <mat-card-subtitle> 
                Contacto:
            </mat-card-subtitle> 
            <p>
              {{ Tienda.Contacto }}
            </p>
            <mat-card-subtitle> 
                Calificacion: 
            </mat-card-subtitle> 
            <p>
              {{ Tienda.Calificacion }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button  mat-stroked-button color="accent" (click)="verProductos(Tienda.Productos, Tienda.Raiz)" routerLink='/inventario'>Visitar Tienda</button>
            
            <button  mat-stroked-button color="primary" data-bs-toggle="modal" data-bs-target="#modalArbol"  (click)="verArbolModal(Tienda.Arbol64)">Ver arbol</button>
            <button  mat-stroked-button color="primary" data-bs-toggle="modal" data-bs-target="#modalMatriz "  (click)="verMatrizModal(Tienda.Pedidos64, Tienda.Fecha)">Ver Matriz</button>
            <button  mat-stroked-button color="primary" data-bs-toggle="modal" data-bs-target="#comentarios" (click)="tiendaU(Tienda); getComentarios();">Comentarios</button>
            <br>
          </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

 
<div class="modal qewasdfade" id="modalREsComn" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel" style="color: crimson;">Comentarios</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Comentario:</label>
            <input type="text" class="form-control ml-1 shadow-none textarea" placeholder="Escribe un comentario" name="comentario" [(ngModel)]="comentario">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary"  (click)="makeComment('')" >Agregar Comentario</button>
      </div>
    </div>
  </div>
</div>

<div class="modal qewasdfade" id="modalAgregarComent" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel" style="color: crimson;">Comentarios</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Comentario:</label>
            <input type="text" class="form-control ml-1 shadow-none textarea" placeholder="Escribe un comentario" name="comentario" [(ngModel)]="comentario">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary"  (click)="makeComment(this.IdtablahashHija)" >Agregar Comentario</button>
      </div>
    </div>
  </div>
</div>
  <script>
  var myModal = document.getElementById('exampleModal')
  var myInput = document.getElementById('myInput')

  myModal.addEventListener('shown.bs.modal', function () {
    myInput.focus()
  })
  </script>
    <script>
      var myModal = document.getElementById('modalREsComn')
      var myInput = document.getElementById('myInput')
    
      myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
      })
      </script>
  <script>
    var myModal = document.getElementById('modalAgregarComent')
    var myInput = document.getElementById('myInput')
  
    myModal.addEventListener('shown.bs.modal', function () {
      myInput.focus()
    })
    </script>
<script>
  var myModal = document.getElementById('exampleModal2')
  var myInput = document.getElementById('myInput')

  myModal.addEventListener('shown.bs.modal', function () {
    myInput.focus()
  })
  </script>
<script>
  var myModal = document.getElementById('comentarios')
  var myInput = document.getElementById('myInput')

  myModal.addEventListener('shown.bs.modal', function () {
    myInput.focus()
  })
  </script>

<script>
  var myModal = document.getElementById('modalMatriz')
  var myInput = document.getElementById('myInput')

  myModal.addEventListener('shown.bs.modal', function () {
    myInput.focus()
  })
  </script>

<script>
  var myModal = document.getElementById('ModalGrafo')
  var myInput = document.getElementById('myInput')

  myModal.addEventListener('shown.bs.modal', function () {
    myInput.focus()
  })
  </script>

<script>
  var myModal = document.getElementById('modalPedidos')
  var myInput = document.getElementById('myInput')

  myModal.addEventListener('shown.bs.modal', function () {
    myInput.focus()
  })
  </script>


<script>
  var myModal = document.getElementById('modalArbol')
  var myInput = document.getElementById('myInput')

  myModal.addEventListener('shown.bs.modal', function () {
    myInput.focus()
  })

  var myModal = document.getElementById('modalUsuario')
  var myInput = document.getElementById('myInput')

  myModal.addEventListener('shown.bs.modal', function () {
    myInput.focus()
  })
  </script>